::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3rem;
}
body {
  background-color: #efefef;
}
@media (prefers-color-scheme: dark) {

}
* {
  outline: none !important;
}
.theContainer {
  margin-left: 10%;
  margin-right: 10%;
}
@media only screen and (max-width: 600px) {
  .theContainer {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}